/* GENERAL */
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #f5f7fb;
    color: #222;
}

a {
    text-decoration: none;
    color: #0078ff;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 18px 30px;
    background: white;
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
}

.nav-title {
    font-size: 22px;
    font-weight: bold;
}

.nav-links a {
    margin-left: 20px;
    font-weight: 500;
    color: #444;
}

.nav-links a:hover {
    color: #0078ff;
}

/* HERO SECTION */
.hero {
    padding: 100px 20px;
    text-align: center;
    background: linear-gradient(180deg, #eaf3ff, #f5f7fb);
}

.hero-title {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 10px;
}

.hero-subtitle {
    font-size: 20px;
    max-width: 750px;
    margin: auto;
    color: #555;
}

.hero-buttons {
    margin-top: 30px;
}

.btn-primary {
    padding: 14px 28px;
    background: #0078ff;
    color: white;
    border-radius: 10px;
    font-size: 18px;
}

.btn-secondary {
    padding: 14px 28px;
    background: #eef5ff;
    color: #0078ff;
    border-radius: 10px;
    font-size: 18px;
    margin-left: 10px;
}

/* FEATURE BOXES */
.features-preview {
    padding: 50px 10px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.feature-box {
    background: white;
    padding: 25px;
    width: 280px;
    border-radius: 20px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.08);
}

footer {
    text-align: center;
    padding: 25px;
    margin-top: 50px;
    color: #777;
}